﻿@using System;
@using System.Collections.Generic;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.UI;
@using System.Web.Mvc;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Mvc;
@using Nop.Web.Framework
@{
    
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_RootForVendor.Head.cshtml";

    var kendoVersion = "2014.1.318";
  
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/kendo/2014.1.318/kendo.rtl.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/kendo/2014.1.318/kendo.default.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/kendo/2014.1.318/kendo.common.min.css");
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/bootstrap-3.3.5/css/bootstrap.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/styles.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/CustomStyeles.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/merchant-style.css");
    Html.AppendScriptParts(string.Format("~/Plugins/Bs.VendorSystem/script/kendo/2014.1.318/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Plugins/Bs.VendorSystem/content/bootstrap-3.3.5/js/admin.common.js");
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/Shared/HeaderForVendor.cshtml")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    @*<div class="header-menu">
        @Html.Action("TopMenu", "Catalog")
    </div>*@
    <div class="master-wrapper-content">
        @Html.Widget("content_before")

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb") 
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")