﻿@using System;
@using System.Collections.Generic;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.UI;
@using System.Web.Mvc;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Mvc;
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Core;
@{
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_RootForMerchant.Head.cshtml";

    #region admin head

    var kendoVersion = "2014.1.318";
    //CSS resources
    //CSS resources
   // Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
   // Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/kendo.rtl.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/kendo/2014.1.318/kendo.rtl.min.css");
  //  Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
   // Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/kendo.default.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/kendo/2014.1.318/kendo.default.min.css");
   // Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
   // Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/kendo.common.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/kendo/2014.1.318/kendo.common.min.css");
    //Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    
    //Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/Merchant/merchant-styles.css");

    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/bootstrap-3.3.5/css/bootstrap.min.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/styles.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/CustomStyeles.css");
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/merchant-style.css");
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/Style/Like.css");

    //Html.AppendScriptParts(string.Format("~/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts(string.Format("~/Plugins/Bs.VendorSystem/script/kendo/2014.1.318/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Plugins/Bs.VendorSystem/content/bootstrap-3.3.5/js/admin.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    #endregion
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="/">
                        <img title="" alt="Your store name" src="/Plugins/Bs.VendorSystem/content/img/vendorlogo.jpg">
                       
                    </a>
                </div>
                <div class="collapse navbar-collapse custom-scrollbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/Vendor">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Product
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Vendor/ProductList">All Products</a></li>
                                <li><a href="/Vendor/ProductCreate">Add Product</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Orders
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Vendor/OrderList">Order Management</a></li>
                                <li><a href="/Vendor/ShipmentList">Shipments</a></li>
                                <li><a href="/Vendor/BestsellersReport">Bestsellers</a></li>
                                <li><a href="/Vendor/NeverSoldReport">Products never purchased</a></li>
                            </ul>
                        </li>
                    </ul>
                 
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">Sign Out</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Public store</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Widget("header_links_before")

                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Widget("content_before")
@*ajax loading window*@
<div class="ajax-loading-block-window" style="display: none">
    <div class="loading-image">
    </div>
</div>
@RenderBody()
@Html.Widget("content_after")
@Html.Widget("body_end_html_tag_before")

@*For Top Menu*@
<script>
    function setMouseHoverDropdown() {
        if ($(window).innerWidth() > 767) {
            $('ul.nav li').hover(function () {
                $(this).find('> .dropdown-menu').stop(true, true).delay(100).fadeIn(250);
            }, function () {
                $(this).find('> .dropdown-menu').stop(true, true).delay(100).fadeOut(250);
            });
        }
    }
    $(window).load(function () {
        setMouseHoverDropdown();
    });
    $(document).ready(function () {
        setMouseHoverDropdown();
    });
    $(window).resize(function () {
        setMouseHoverDropdown();
    });
</script>

