@model BsLikeListModelForCustomer
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;
@{
    Layout = "";

}
<div class="page wishlist-page">
    <div class="page-body">
        @if (Model.LikeList.Count > 0)
        {
            <div class="wishlist-content">
                @using (Html.BeginRouteForm("Vendor.LikelistForCustomer", FormMethod.Post))
                {
                    <div class="table-wrapper">
                        <table class="cart">
                            <colgroup>
                                <col width="1" />
                                <col width="1" />
                                <col />
                                <col width="1" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="product-picture">
                                        @T("ShoppingCart.Image")
                                    </th>

                                    <th class="product">
                                        @T("ShoppingCart.Product(s)")
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LikeList)
                                {
                                    <tr>
                                        <td class="product-picture">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title"/></a>
                                        </td>
                                        <td class="product">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    var pager = Html.Pager(Model.PagerModel);
                    if (!MvcHtmlString.IsNullOrEmpty(pager))
                    {
                        <div class="pager">
                            @pager
                        </div>
                    }
                    
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Vendor.ListEmpty")
            </div>
        }
    </div>
</div>