﻿
@{
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/Style/Like.css");
    var LikeList = Url.RouteUrl("Vendor.LikelistForCustomer");
    //var urlUnLike = Url.RouteUrl("Widgets.Like.CustomerProductUnLike", new { productId = Model.ProductId });
}
@model BsLikeHeaderModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@if (!(Model.IsGuest))
{
    <li>
        <a href="@LikeList" class="ico-wishlist">
            @*<span class="wishlist-label">@T("Vendor.Liked")</span>*@
            <span class="liked-qty">@T("Like", Model.Count)</span>
        </a>
    </li>

}

