﻿@model VendorProductModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Admin.Models.Catalog
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core;
@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/jquery.tagit.css");
    Html.AppendScriptParts("~/Plugins/Bs.VendorSystem/Script/tag-it.min.js");
    Model.ProductModel.ProductTypeId = (int)ProductType.SimpleProduct;
    Model.ProductModel.ManageInventoryMethodId = 1;
}

@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;


<div class="fieldset">
    <div class="form-fields">
        <div class="inputs row">
            <label>Add Photo  <i class="icon-question-mark"></i></label>
            <div class="add-photo">

                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId1, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId2, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId3, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
                <div class="photo-uploder hidden-xs">
                    @Html.EditorFor(model => model.PictureId4, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            <label>Product Name <i class="icon-question-mark"></i></label>
            @Html.TextBoxFor(model => model.ProductModel.Name)
            @Html.ValidationMessageFor(model => model.ProductModel.Name)
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        @*<div class="inputs">
            <label>Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedCategoryId, Model.ProductModel.AvailableCategories)
        </div>*@
        <div class="inputs">
            <label>Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedRootCategoryId, Model.AvailableRootCategories)
        </div>
        <div id="firstSubCategory" class="inputs">
            <label>First Sub Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedFirstSubCategoryId, Model.AvailableFirstSubCategories)
        </div>
        <div id="secondSubCategory" class="inputs">
            <label>Second Sub Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedSecondSubCategoryId, Model.AvailableSecondSubCategories)
        </div>
        <div id="lastCategory">
            <p>*There is no Sub Category*</p>
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <label>Price <i class="icon-question-mark"></i></label>
                    @Html.EditorFor(model => model.ProductModel.Price, new { @placeholder = "0,00 TL." })
                    @Html.ValidationMessageFor(model => model.ProductModel.Price)

                </div>
                <div class="col-sm-6 col-xs-12">
                    <label>Quantity <i class="icon-question-mark"></i></label>
                    @Html.TextBoxFor(model => model.ProductModel.StockQuantity)
                    @Html.ValidationMessageFor(model => model.ProductModel.StockQuantity)
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            <label>Description <i class="icon-question-mark"></i></label>
            @Html.TextAreaFor(model => model.ProductModel.FullDescription)
            @Html.ValidationMessageFor(model => model.ProductModel.FullDescription)
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            <label>@T("Admin.Catalog.Products.ProductAttributes") <i class="icon-question-mark"></i></label>
            <label id="validationMessageForSizeAndColor" style="visibility: hidden">Fill For Only Products with Sizes and Color</label>
        </div>
        <div class="inputs row options-inputs">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-left">                
                    @Html.DropDownListFor(model => model.ProductModel.AddSpecificationAttributeModel.SpecificationAttributeOptionId, Model.ProductModel.AddSpecificationAttributeModel.AvailableOptions)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                <input id="optionQuantity1" type="number" placeholder="Qty." />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <input type="button" class="btn-product-add-option pull-right" onclick="addColorOption()" value="+ Add" />
            </div>
        </div>
        <div class="inputs">
            <table class="product-options" id="product-options-tableId1"></table>
        </div>

        <div class="inputs row options-inputs">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-left">
                <input id="optionName2" type="text" placeholder="Size" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                <input id="optionQuantity2" type="number" placeholder="Qty." />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <input type="button" class="btn-product-add-option pull-right" onclick="addSizeOption()" value="+ Add" />
            </div>           
        </div>
        <div class="inputs">
            <table class="product-options" id="product-options-tableId2"></table>
        </div>
        <div class="buttons">
            <input type="submit" id="save-continue" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
</div>

<div class="hidden">
    @Html.HiddenFor(model => model.ProductModel.ManageInventoryMethodId)
    @Html.HiddenFor(model => model.ProductModel.IsShipEnabled)
    @Html.HiddenFor(model => model.ProductModel.ProductTypeId)
    @Html.HiddenFor(model => model.ProductModel.Published)
    @Html.HiddenFor(model => model.ProductModel.ProductTemplateId)
    @Html.HiddenFor(model => model.ProductModel.VisibleIndividually)
    @Html.HiddenFor(model => model.ProductModel.UnlimitedDownloads)
    @Html.HiddenFor(model => model.ProductModel.AllowCustomerReviews)
    @Html.HiddenFor(model => model.ProductModel.SubjectToAcl)
    @Html.HiddenFor(model => model.ProductModel.LimitedToStores)
    @Html.HiddenFor(model => model.ProductModel.IsGiftCard)
    @Html.HiddenFor(model => model.ProductModel.GiftCardTypeId)
    @Html.HiddenFor(model => model.ProductModel.RequireOtherProducts)
    @Html.HiddenFor(model => model.ProductModel.AutomaticallyAddRequiredProducts)
    @Html.HiddenFor(model => model.ProductModel.IsDownload)
    @Html.HiddenFor(model => model.ProductModel.DownloadId)
    @Html.HiddenFor(model => model.ProductModel.UnlimitedDownloads)
    @Html.HiddenFor(model => model.ProductModel.MaxNumberOfDownloads)
    @Html.HiddenFor(model => model.ProductModel.DownloadActivationTypeId)
    @Html.HiddenFor(model => model.ProductModel.HasSampleDownload)
    @Html.HiddenFor(model => model.ProductModel.SampleDownloadId)
    @Html.HiddenFor(model => model.ProductModel.HasUserAgreement)
    @Html.HiddenFor(model => model.ProductModel.IsRecurring)
    @Html.HiddenFor(model => model.ProductModel.RecurringCycleLength)
    @Html.HiddenFor(model => model.ProductModel.RecurringCyclePeriodId)
    @Html.HiddenFor(model => model.ProductModel.RecurringTotalCycles)
    @Html.HiddenFor(model => model.ProductModel.IsRental)
    @Html.HiddenFor(model => model.ProductModel.RentalPriceLength)
    @Html.HiddenFor(model => model.ProductModel.RentalPricePeriodId)
    @Html.HiddenFor(model => model.ProductModel.RecurringTotalCycles)
    @Html.HiddenFor(model => model.ProductModel.IsRental)
    @Html.HiddenFor(model => model.ProductModel.RentalPriceLength)
    @Html.HiddenFor(model => model.ProductModel.RentalPricePeriodId)
    @Html.HiddenFor(model => model.ProductModel.ShipSeparately)
    @Html.HiddenFor(model => model.ProductModel.AdditionalShippingCharge)
    @Html.HiddenFor(model => model.ProductModel.TaxCategoryId)
    @Html.HiddenFor(model => model.ProductModel.IsTelecommunicationsOrBroadcastingOrElectronicServices)
    @Html.HiddenFor(model => model.ProductModel.UseMultipleWarehouses)
    @Html.HiddenFor(model => model.ProductModel.AllowBackInStockSubscriptions)
    @Html.HiddenFor(model => model.ProductModel.OrderMaximumQuantity)
    @Html.HiddenFor(model => model.ProductModel.OrderMinimumQuantity)
    @Html.HiddenFor(model => model.ProductModel.MaximumCustomerEnteredPrice)
    @Html.HiddenFor(model => model.ProductModel.LowStockActivityId)
    @Html.HiddenFor(model => model.ProductModel.NotifyAdminForQuantityBelow)
    @Html.HiddenFor(model => model.ProductModel.BackorderModeId)
    @Html.HiddenFor(model => model.ProductModel.DisplayStockAvailability)
    @Html.HiddenFor(model => model.ProductModel.DisplayStockQuantity)
    @Html.HiddenFor(model => model.ProductModel.MinStockQuantity)
    @Html.HiddenFor(model => model.ProductModel.DisplayOrder)
    @Html.HiddenFor(model => model.ProductModel.ShowOnHomePage)
    @*@Html.HiddenFor(model => model.ProductModel.ProductVariant.IsTaxIncluded)*@
    @Html.HiddenFor(model => model.ProductModel.IsTaxExempt)
    @Html.HiddenFor(model => model.ProductModel.DisableWishlistButton)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedRootCategoryId)").change(function () {
            $("#firstSubCategory").css("display", "none");
            $("#secondSubCategory").css("display", "none");
            $("#lastCategory").css("display", "none");
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor", new { area = "" }))",
                data: postData,
                success: function (data) {
                    var foundFirstSubCategory = false;

                    for (var i = 0; i < data.length; ++i) {
                        if (i != 0) {
                            if (data[i] !== null) foundFirstSubCategory = true;
                            break;
                        }
                       
                    }
                    if (foundFirstSubCategory) {
                        $("#firstSubCategory").css("display", "block");
                        $("#lastCategory").css("display", "none");
                    }
                    else {
                        $("#lastCategory").css("display", "block");

                    }
                   
                    var ddlStates = $("#@Html.FieldIdFor(model => model.SelectedFirstSubCategoryId)");
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedFirstSubCategoryId)").change(function () {
            $("#secondSubCategory").css("display", "none");
            $("#lastCategory").css("display", "none");
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor", new { area=""}))",
                data: postData,
                success: function (data) {
                    var foundSecondSubCategory = false;

                    for (var i = 0; i < data.length; ++i) {
                        if (i != 0) {
                            if (data[i] !== null) foundSecondSubCategory = true;
                            break;
                        }

                    }
                    if (foundSecondSubCategory) {
                        $("#secondSubCategory").css("display", "block");
                        $("#lastCategory").css("display", "none");
                    }
                    else {
                        $("#lastCategory").css("display", "block");
                        
                    }
                    
                    var ddlStates = $("#@Html.FieldIdFor(model => model.SelectedSecondSubCategoryId)");
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedSecondSubCategoryId)").change(function () {
            $("#lastCategory").css("display", "none");
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor", new { area=""}))",
                data: postData,
                success: function (data) {
                    var foundLastSubCategory = false;

                    for (var i = 0; i < data.length; ++i) {
                        if (i != 0) {
                            if (data[i] !== null) foundLastSubCategory = true;
                            break;
                        }

                    }
                    if (foundLastSubCategory) {
                        $("#lastSubCategory").css("display", "block");
                        $("#lastCategory").css("display", "none");
                    }
                    else {
                        $("#lastCategory").css("display", "block");
                    }
                 
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });
    });
</script>

<script>
    var ProductSize = [];
    @if (Model.ProductSize.Count > 0)
    {
        foreach (var option in Model.ProductSize)
        {
            @:ProductSize.push(@option);
        }
    }
    $(document).ready(function () {
        var option = new optionObject2();
        option.showData();
    });
    // module pattern in JavaScript
    var optionObject2 = function (idName) {
        var productOptionsTable2 = document.getElementById("product-options-tableId2");
        //console.log(person);
        showData = function () {
            var stringHtml2 = "";
            for (var i = 0, len = ProductSize.length; i < len; i++) {
                var dataKey = i;
                var object = ProductSize[i];
                if (object === null) {
                    i = i + 1;
                }
                stringHtml2 += "<tr>"
                    + "<td class=\"options-name\">" + "<input type=\"text\" value=\" " + object.Name + "\" name=\"ProductSize[" + i + "].Name\" id=\"ProductSize[" + i + "].Name\" readonly ></td>"
                    + "<td class=\"options-qty\">" + "<input type=\"text\" value=\" " + object.Quantity + "\" name=\"ProductSize[" + i + "].Quantity\" id=\"ProductSize[" + i + "].Quantity\" readonly> </td>"
                    + "<td class=\"options-remove\">" + "<button  id =\"deleteButton\" data-key=\"" + dataKey + "\" onclick =\"deleteOption(this)\" type=\"button\">delete</button> </td>"
                    + "</tr>";
            }
            if (stringHtml2 != null) {
                productOptionsTable2.innerHTML = stringHtml2;
            }
            
        };
        return {
            addSizeOption: function (Name, Quantity) {

                if (!Name || !Quantity) {
                    alert("Fill the Option  and Quantity. Quantity is only number.");
                    return;
                };
                if (Quantity.isNaN) {
                    alert("Fill  Quantity is only Number");
                    return;
                }

                var option = {
                    Name: Name,
                    Quantity: Quantity,

                };
                ProductSize.push(option);
                showData();
            },
            showData: showData,
            deleteOption: function (index) {
                ProductSize.splice(index, 1);
                showData();
            },
        };
    };

    //Delete Option
    function deleteOption(element) {
        var index = element.getAttribute("data-key");
        var option = new optionObject2();
        option.deleteOption(index);
    }
    // Add option
    function addSizeOption() {
        var option = new optionObject2('product-options-tableId2');
        option.addSizeOption($('#optionName2').val(), $('#optionQuantity2').val());
        clearOptionFileds()
    }
    
    function clearOptionFileds() {
        $('#optionName2').val("");
        $('#optionQuantity2').val("");
    }
</script>

<script>

    var ProductColor = [];
    @if (Model.ProductColor.Count > 0)
    {
        foreach (var option in Model.ProductColor)
        {
            @:ProductColor.push(@option);
        }
    }
    $(document).ready(function() {
        var option = new optionObject();
        option.showData();
    });
    // module pattern in JavaScript
    var optionObject = function(idName) {
        var productOptionsTable1 = document.getElementById("product-options-tableId1");
        //console.log(person);
        showData = function() {
            var stringHtml = "";
            for (var i = 0, len = ProductColor.length; i < len; i++) {
                var dataKey = i;
                var object = ProductColor[i];
                if (object === null) {
                    i = i + 1;
                }
                stringHtml += "<tr>"
                    + "<td class=\"options-name\">" + "<input type=\"text\" value=\" " + object.Name + "\" name=\"ProductColor[" + i + "].Name\" id=\"ProductColor[" + i + "].Name\" readonly ></td>"
                    + "<td class=\"options-qty\">" + "<input type=\"text\" value=\" " + object.Quantity + "\" name=\"ProductColor[" + i + "].Quantity\" id=\"ProductColor[" + i + "].Quantity\" readonly> </td>"
                    + "<td class=\"options-remove\">" + "<button  id =\"deleteButton\" data-key=\"" + dataKey + "\" onclick =\"deleteOption(this)\" type=\"button\">delete</button> </td>"
                    + "</tr>";
            }
            if (stringHtml != null) {
                productOptionsTable1.innerHTML = stringHtml;
            }

        };
        return {
            addColorOption: function(Name, Quantity) {

                if (!Name || !Quantity) {
                    alert("Fill the Option  and Quantity. Quantity is only number.");
                    return;
                };
                if (Quantity.isNaN) {
                    alert("Fill  Quantity is only Number");
                    return;
                }

                var option = {
                    Name: Name,
                    Quantity: Quantity,

                };
                ProductColor.push(option);
                showData();
            },
            showData: showData,
            deleteOption: function(index) {
                ProductColor.splice(index, 1);
                showData();
            },
        };
    };

    //Delete Option
    function deleteOption(element) {
        var index = element.getAttribute("data-key");
        var option = new optionObject();
        option.deleteOption(index);
    }

// Add option
    function addColorOption() {
        var option = new optionObject('product-options-tableId1');
        option.addColorOption($("#ProductModel_AddSpecificationAttributeModel_SpecificationAttributeOptionId option:selected").text(), $('#optionQuantity1').val());
        clearOptionFileds()
    }

    function clearOptionFileds() {
        //$('#optionName1').val("");
        $("#ProductModel_AddSpecificationAttributeModel_SpecificationAttributeOptionId option:selected").text();
        $('#optionQuantity1').val("");
    }
</script>


