﻿@using Nop.Admin.Models.Catalog
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events
@using Nop.Services.Events
@model VendorProductModel
@using Nop.Plugin.Bs.VendorSystem.Models
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.ProductModel.Id)


<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_CreateOrUpdate.Info.cshtml", Model)
    </div>
</div>



