﻿@model VendorProductModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using Nop.Admin.Models.Catalog
@using Nop.Web.Framework.Events
@using Nop.Core;
@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/jquery.tagit.css");
    Html.AppendScriptParts("~/Plugins/Bs.VendorSystem/Script/tag-it.min.js");

    Model.ProductModel.ProductTypeId = (int)ProductType.SimpleProduct;

}


@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;


<div class="fieldset">
    <div class="form-fields">
        <div class="inputs row">
            <label>Add Photo  <i class="icon-question-mark"></i></label>
            <div class="add-photo">

                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId1, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId2, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId3, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
                <div class="photo-uploder">
                    @Html.EditorFor(model => model.PictureId4, "../../../Plugins/Bs.VendorSystem/Views/Shared/EditorTemplates/Picture")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            <label>Product Name <i class="icon-question-mark"></i></label>
            @Html.EditorFor(model => model.ProductModel.Name)
            @Html.ValidationMessageFor(model => model.ProductModel.Name)
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        @*<div class="inputs">
            <label>Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedCategoryId, Model.ProductModel.AvailableCategories)
        </div>*@
        <div class="inputs">
            <label>Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedRootCategoryId, Model.AvailableRootCategories)
        </div>
        <div id="firstSubCategory" class="inputs">
            <label>First Sub Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedFirstSubCategoryId, Model.AvailableFirstSubCategories)
        </div>
        <div id="secondSubCategory" class="inputs">
            <label>Second Sub Category <i class="icon-question-mark"></i></label>
            @Html.DropDownListFor(model => model.SelectedSecondSubCategoryId, Model.AvailableSecondSubCategories)
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding-left">
                <label>Price <i class="icon-question-mark"></i></label>
                @Html.EditorFor(model => model.ProductModel.Price, new { @placeholder = "0,00 TL." })
                @Html.ValidationMessageFor(model => model.ProductModel.Price)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label>Quantity <i class="icon-question-mark"></i></label>
                @Html.TextBoxFor(model => model.ProductModel.StockQuantity)
                @Html.ValidationMessageFor(model => model.ProductModel.StockQuantity)
            </div>
        </div>
    </div>
</div>

@*<div class="fieldset">
    <div class="form-fields">
        <div class="inputs radio-input">
            <label class="radio-label">Product Status<i class="icon-question-mark"></i></label>
            <div class="radio-button">
                <input id="IsSecondHandProduct" type="radio" name="IsSecondHandProduct" value="false" checked="@(!Model.IsSecondHandProduct)" />
                <label for="@Model.IsSecondHandProduct">New Product</label>
            </div>
            <div class="radio-button">
                <input id="IsSecondHandProduct" type="radio" name="IsSecondHandProduct" value="true" checked="@(Model.IsSecondHandProduct)" />
                <label for="@Model.IsSecondHandProduct">Second Hand Product</label>
            </div>
        </div>
    </div>
</div>*@



<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            <label>Description <i class="icon-question-mark"></i></label>
            @Html.TextAreaFor(model => model.ProductModel.FullDescription)
            @Html.ValidationMessageFor(model => model.ProductModel.FullDescription)
        </div>
    </div>
</div>

<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            @*<label>@T("Admin.Catalog.Products.ProductAttributes") <i class="icon-question-mark"></i></label>*@
           @*@Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_CreateOrUpdate.ProductAttributes.cshtml", Model)*@
            <label>@T("Admin.Catalog.Products.ProductAttributes")</label>
            @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_CreateOrUpdate.ProductAttributes.cshtml", Model.ProductModel)
        </div>

    </div>
</div>
<div>
    <div id="vendorattributecombinations-grid"></div>

    <script>
    $(document).ready(function () {
        $("#vendorattributecombinations-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ProductAttributeCombinationList", "BsVendor", new { productId = Model.ProductModel.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    @*update: {
                            url: "@Html.Raw(Url.Action("ProductAttributeCombinationUpdate", "Product"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },*@
                    destroy: {
                        url: "@Html.Raw(Url.Action("ProductAttributeCombinationDelete", "BsVendor"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            //ProductId: { editable: false, type: "number" },
                            AttributesXml: { editable: false, type: "string" },
                            //Warnings: { editable: false, type: "string" },
                            StockQuantity: { editable: true, type: "number" },
                            //AllowOutOfStockOrders: { editable: true, type: "boolean" },
                            // Sku: { editable: true, type: "string" },
                            // ManufacturerPartNumber: { editable: true, type: "string" },
                            // Gtin: { editable: true, type: "string" },
                            // OverriddenPrice: { editable: true, type: "number" },
                            // NotifyAdminForQuantityBelow: { editable: true, type: "number" },
                            Id: { editable: false, type: "number" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "AttributesXml",
                    title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Attributes")",
                    width: 400,
                    template: "#=AttributesXml#<br /> # if(Warnings !== null) {# <span style=\"color: red\">#=Warnings#</span> #}  #",
                    encoded: false
                }, {
                    field: "StockQuantity",
                    title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.StockQuantity")",
                    width: 150,
                    //integer format
                    format: "{0:0}"
                }, @*{
                        field: "AllowOutOfStockOrders",
                        title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.AllowOutOfStockOrders")",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=AllowOutOfStockOrders#.gif" />'
                    }, {
                        field: "Sku",
                        title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Sku")",
                        width: 200
                    }, {
                        field: "ManufacturerPartNumber",
                        title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.ManufacturerPartNumber")",
                        width: 200
                    }, {
                        field: "Gtin",
                        title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Gtin")",
                        width: 200
                    }, {
                        field: "OverriddenPrice",
                        title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.OverriddenPrice")",
                        width: 200,
                        editor: function (container, options) {
                            $('<input name="' + options.field + '"/>')
                                    .appendTo(container)
                                    .kendoNumericTextBox({
                                        format: "{0:n4}",
                                        decimals: 4
                                    });
                        }
                    }, {
                        field: "NotifyAdminForQuantityBelow",
                        title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.NotifyAdminForQuantityBelow")",
                        width: 150,
                        //integer format
                        format: "{0:0}"
                    },*@ {
                    command: [
                       {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }
                    ],
                    width: 200
                }
            ]
        });
    });
    </script>
</div>

<div>
    <input type="submit" id="btnAddNewCombination" value="@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("AddAttributeCombinationPopup", "BsVendor", new { productId = Model.ProductModel.Id, btnId = "btnRefreshCombinations", formId = "product-form" }))', 800, 600, true); return false;" class="k-button" />
    
</div>






<div class="hidden">
    @Html.HiddenFor(model => model.ProductModel.ManageInventoryMethodId)
    @Html.HiddenFor(model => model.ProductModel.IsShipEnabled)
    @Html.HiddenFor(model => model.ProductModel.ProductTypeId)
    @Html.HiddenFor(model => model.ProductModel.Published)
    @Html.HiddenFor(model => model.ProductModel.ProductTemplateId)
    @Html.HiddenFor(model => model.ProductModel.VisibleIndividually)
    @Html.HiddenFor(model => model.ProductModel.UnlimitedDownloads)
    @Html.HiddenFor(model => model.ProductModel.AllowCustomerReviews)
    @Html.HiddenFor(model => model.ProductModel.SubjectToAcl)
    @Html.HiddenFor(model => model.ProductModel.LimitedToStores)
    @Html.HiddenFor(model => model.ProductModel.IsGiftCard)
    @Html.HiddenFor(model => model.ProductModel.GiftCardTypeId)
    @Html.HiddenFor(model => model.ProductModel.RequireOtherProducts)
    @Html.HiddenFor(model => model.ProductModel.AutomaticallyAddRequiredProducts)
    @Html.HiddenFor(model => model.ProductModel.IsDownload)
    @Html.HiddenFor(model => model.ProductModel.DownloadId)
    @Html.HiddenFor(model => model.ProductModel.UnlimitedDownloads)
    @Html.HiddenFor(model => model.ProductModel.MaxNumberOfDownloads)
    @Html.HiddenFor(model => model.ProductModel.DownloadActivationTypeId)
    @Html.HiddenFor(model => model.ProductModel.HasSampleDownload)
    @Html.HiddenFor(model => model.ProductModel.SampleDownloadId)
    @Html.HiddenFor(model => model.ProductModel.HasUserAgreement)
    @Html.HiddenFor(model => model.ProductModel.IsRecurring)
    @Html.HiddenFor(model => model.ProductModel.RecurringCycleLength)
    @Html.HiddenFor(model => model.ProductModel.RecurringCyclePeriodId)
    @Html.HiddenFor(model => model.ProductModel.RecurringTotalCycles)
    @Html.HiddenFor(model => model.ProductModel.IsRental)
    @Html.HiddenFor(model => model.ProductModel.RentalPriceLength)
    @Html.HiddenFor(model => model.ProductModel.RentalPricePeriodId)
    @Html.HiddenFor(model => model.ProductModel.RecurringTotalCycles)
    @Html.HiddenFor(model => model.ProductModel.IsRental)
    @Html.HiddenFor(model => model.ProductModel.RentalPriceLength)
    @Html.HiddenFor(model => model.ProductModel.RentalPricePeriodId)
    @Html.HiddenFor(model => model.ProductModel.ShipSeparately)
    @Html.HiddenFor(model => model.ProductModel.AdditionalShippingCharge)
    @Html.HiddenFor(model => model.ProductModel.TaxCategoryId)
    @Html.HiddenFor(model => model.ProductModel.IsTelecommunicationsOrBroadcastingOrElectronicServices)
    @Html.HiddenFor(model => model.ProductModel.UseMultipleWarehouses)
    @Html.HiddenFor(model => model.ProductModel.AllowBackInStockSubscriptions)
    @Html.HiddenFor(model => model.ProductModel.OrderMaximumQuantity)
    @Html.HiddenFor(model => model.ProductModel.OrderMinimumQuantity)
    @Html.HiddenFor(model => model.ProductModel.MaximumCustomerEnteredPrice)
    @Html.HiddenFor(model => model.ProductModel.LowStockActivityId)
    @Html.HiddenFor(model => model.ProductModel.NotifyAdminForQuantityBelow)
    @Html.HiddenFor(model => model.ProductModel.BackorderModeId)
    @Html.HiddenFor(model => model.ProductModel.DisplayStockAvailability)
    @Html.HiddenFor(model => model.ProductModel.DisplayStockQuantity)
    @Html.HiddenFor(model => model.ProductModel.MinStockQuantity)
    @Html.HiddenFor(model => model.ProductModel.DisplayOrder)
    @Html.HiddenFor(model => model.ProductModel.ShowOnHomePage)
    @*@Html.HiddenFor(model => model.ProductModel.ProductVariant.IsTaxIncluded)*@
    @Html.HiddenFor(model => model.ProductModel.IsTaxExempt)
    @Html.HiddenFor(model => model.ProductModel.DisableWishlistButton)
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedRootCategoryId)").change(function () {
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor"))",
                data: postData,
                success: function (data) {
                    $("#firstSubCategory").css("display", "block");
                    var ddlStates = $("#@Html.FieldIdFor(model => model.SelectedFirstSubCategoryId)");
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedFirstSubCategoryId)").change(function () {
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor"))",
                data: postData,
                success: function (data) {
                    $("#secondSubCategory").css("display", "block");
                    var ddlStates = $("#@Html.FieldIdFor(model => model.SelectedSecondSubCategoryId)");
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });
    });
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedRootCategoryId)").change(function () {
            $("#firstSubCategory").css("display", "none");
            $("#secondSubCategory").css("display", "none");
            $("#lastCategory").css("display", "none");
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor", new { area = "" }))",
                data: postData,
                success: function (data) {
                    var foundFirstSubCategory = false;

                    for (var i = 0; i < data.length; ++i) {
                        if (i != 0) {
                            if (data[i] !== null) foundFirstSubCategory = true;
                            break;
                        }

                    }
                    if (foundFirstSubCategory) {
                        $("#firstSubCategory").css("display", "block");
                        $("#lastCategory").css("display", "none");
                    }
                    else {
                        $("#lastCategory").css("display", "block");

                    }

                    var ddlStates = $("#@Html.FieldIdFor(model => model.SelectedFirstSubCategoryId)");
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedFirstSubCategoryId)").change(function () {
            $("#secondSubCategory").css("display", "none");
            $("#lastCategory").css("display", "none");
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor", new { area=""}))",
                data: postData,
                success: function (data) {
                    var foundSecondSubCategory = false;

                    for (var i = 0; i < data.length; ++i) {
                        if (i != 0) {
                            if (data[i] !== null) foundSecondSubCategory = true;
                            break;
                        }

                    }
                    if (foundSecondSubCategory) {
                        $("#secondSubCategory").css("display", "block");
                        $("#lastCategory").css("display", "none");
                    }
                    else {
                        $("#lastCategory").css("display", "block");

                    }

                    var ddlStates = $("#@Html.FieldIdFor(model => model.SelectedSecondSubCategoryId)");
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SelectedSecondSubCategoryId)").change(function () {
            $("#lastCategory").css("display", "none");
            var selectedItem = $(this).val();
            var postData = {
                parentCategoryId: selectedItem,
                showHidden: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetAllSubCategoriesByParentCategoryId", "BsVendor", new { area=""}))",
                data: postData,
                success: function (data) {
                    var foundLastSubCategory = false;

                    for (var i = 0; i < data.length; ++i) {
                        if (i != 0) {
                            if (data[i] !== null) foundLastSubCategory = true;
                            break;
                        }

                    }
                    if (foundLastSubCategory) {
                        $("#lastSubCategory").css("display", "block");
                        $("#lastCategory").css("display", "none");
                    }
                    else {
                        $("#lastCategory").css("display", "block");
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        });
    });
</script>

<script>
    var ProductSize = [];
    @if (Model.ProductSize.Count > 0)
    {
        foreach (var option in Model.ProductSize)
        {
            @:ProductSize.push(@option);
            }
    }
    $(document).ready(function () {
        var option = new optionObject2();
        option.showData();
    });
    // module pattern in JavaScript
    var optionObject2 = function (idName) {
        var productOptionsTable2 = document.getElementById("product-options-tableId2");
        //console.log(person);
        showData = function () {
            var stringHtml2 = "";
            for (var i = 0, len = ProductSize.length; i < len; i++) {
                var dataKey = i;
                var object = ProductSize[i];
                if (object === null) {
                    i = i + 1;
                }
                stringHtml2 += "<tr>"
                    + "<td class=\"options-name\">" + "<input type=\"text\" value=\" " + object.Name + "\" name=\"ProductSize[" + i + "].Name\" id=\"ProductSize[" + i + "].Name\" readonly ></td>"
                    + "<td class=\"options-qty\">" + "<input type=\"text\" value=\" " + object.Quantity + "\" name=\"ProductSize[" + i + "].Quantity\" id=\"ProductSize[" + i + "].Quantity\" readonly> </td>"
                    + "<td class=\"options-remove\">" + "<button  id =\"deleteButton\" data-key=\"" + dataKey + "\" onclick =\"deleteOption(this)\" type=\"button\">delete</button> </td>"
                    + "</tr>";
            }
            if (stringHtml2 != null) {
                productOptionsTable2.innerHTML = stringHtml2;
            }
            
        };
        return {
            addSizeOption: function (Name, Quantity) {

                if (!Name || !Quantity) {
                    alert("Fill the Option  and Quantity. Quantity is only number.");
                    return;
                };
                if (Quantity.isNaN) {
                    alert("Fill  Quantity is only Number");
                    return;
                }

                var option = {
                    Name: Name,
                    Quantity: Quantity,

                };
                ProductSize.push(option);
                showData();
            },
            showData: showData,
            deleteOption: function (index) {
                ProductSize.splice(index, 1);
                showData();
            },
        };
    };

    //Delete Option
    function deleteOption(element) {
        var index = element.getAttribute("data-key");
        var option = new optionObject2();
        option.deleteOption(index);
    }
    // Add option
    function addSizeOption() {
        var option = new optionObject2('product-options-tableId2');
        option.addSizeOption($('#optionName2').val(), $('#optionQuantity2').val());
        clearOptionFileds()
    }

    function clearOptionFileds() {
        $('#optionName2').val("");
        $('#optionQuantity2').val("");
    }
</script>

<script>

    var ProductColor = [];
    @if (Model.ProductColor.Count > 0)
    {
        foreach (var option in Model.ProductColor)
        {
          @:ProductColor.push(@option);
            }
    }
    $(document).ready(function () {
        var option = new optionObject();
        option.showData();
    });
    // module pattern in JavaScript
    var optionObject = function (idName) {
        var productOptionsTable1 = document.getElementById("product-options-tableId1");
        //console.log(person);
        showData = function () {
            var stringHtml = "";
            for (var i = 0, len = ProductColor.length; i < len; i++) {
                var dataKey = i;
                var object = ProductColor[i];
                if (object === null) {
                    i = i + 1;
                }
                stringHtml += "<tr>"
                    + "<td class=\"options-name\">" + "<input type=\"text\" value=\" " + object.Name + "\" name=\"ProductColor[" + i + "].Name\" id=\"ProductColor[" + i + "].Name\" readonly ></td>"
                    + "<td class=\"options-qty\">" + "<input type=\"text\" value=\" " + object.Quantity + "\" name=\"ProductColor[" + i + "].Quantity\" id=\"ProductColor[" + i + "].Quantity\" readonly> </td>"
                    + "<td class=\"options-remove\">" + "<button  id =\"deleteButton\" data-key=\"" + dataKey + "\" onclick =\"deleteOption(this)\" type=\"button\">delete</button> </td>"
                    + "</tr>";
            }
            if (stringHtml != null) {
                productOptionsTable1.innerHTML = stringHtml;
            }
            
        };
        return {
            addColorOption: function (Name, Quantity) {

                if (!Name || !Quantity) {
                    alert("Fill the Option  and Quantity. Quantity is only number.");
                    return;
                };
                if (Quantity.isNaN) {
                    alert("Fill  Quantity is only Number");
                    return;
                }

                var option = {
                    Name: Name,
                    Quantity: Quantity,

                };
                ProductColor.push(option);
                showData();
            },
            showData: showData,
            deleteOption: function (index) {
                ProductColor.splice(index, 1);
                showData();
            },
        };
    };

    //Delete Option
    function deleteOption(element) {
        var index = element.getAttribute("data-key");
        var option = new optionObject();
        option.deleteOption(index);
    }
    // Add option
    function addColorOption() {
        var option = new optionObject('product-options-tableId1');
        option.addColorOption($("#ProductModel_AddSpecificationAttributeModel_SpecificationAttributeOptionId option:selected").text(), $('#optionQuantity1').val());
        clearOptionFileds()
    }

    function clearOptionFileds() {
        //$('#optionName1').val("");
        $("#ProductModel_AddSpecificationAttributeModel_SpecificationAttributeOptionId option:selected").text();
        $('#optionQuantity1').val("");
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //refresh button
        $('#btnRefreshCombinations').click(function () {
            //refresh grid
            var grid = $("#vendorattributecombinations-grid").data('kendoGrid');
            grid.dataSource.read();

            //return false to don't reload a page
            return false;
        });

    });
</script>

