﻿@using Nop.Admin.Models.Orders
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events
@using Nop.Services.Events

@{
    Layout = null;
    //title

}
@{
    var gridPageSize = 5;
}
<div class="container">
    <div class="row">
        <div class="col-md-11 panel">
            <table class="adminContent">
                <tr>
                    <td>
                        <div id="bestsellers-byquantity-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#bestsellers-byquantity-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BestsellersBriefReportByQuantityList", "BsVendor", new { area = "" }))",
                                                type: "POST",
                                                dataType: "json"
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(gridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [{
                                        field: "ProductName",
                                        title: "@T("Admin.SalesReport.Bestsellers.Fields.Name")"
                                    }, {
                                        field: "TotalQuantity",
                                        title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")"
                                    }, {
                                        field: "TotalAmount",
                                        title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")"
                                    }, {
                                        field: "ProductId",
                                        title: "@T("Admin.Common.View")",
                                        width: 80,
                                        template: '<a href="@Url.Content("Vendor/ProductEdit/")#=ProductId#">@T("Admin.Common.View")</a>'
                                    }]
                                });
                            });
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>