﻿@model VendorProductModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Admin.Models.Catalog
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core;
@{
    //Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";
    //Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/bootstrap-3.3.5/css/bootstrap.min.css");
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.AddNew").Text;
}
<div class="container vendorProductCreate">
    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "product-form"}))
        {
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 no-padding"></div>
            <div class="col-xs-12 no-padding">
                <div class="merchant-page-title">
                    <h2 class="ptit embo">
                        @*<a href="/list">Products</a>*@
                        <span class="icon-gt icon-add-red">&nbsp;</span> <b> Add New Product </b>
                    </h2>
                    <input type="submit" id="save" name="save" class="btn-product-submit-top" value="@T("Admin.Common.Save")" />
                </div>
                <div class="page add-product-page">
                    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_Create.cshtml", Model)
                    @*<div class="buttons">
                        <input type="submit" name="save" class="" value="@T("Admin.Common.Save")" />
                    </div>*@
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 no-padding"></div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#product-form").submit(function (event) {
            var colorTablerowCount = $('#product-options-tableId1 tr').length;
            var sizeTablerowCount = $('#product-options-tableId2 tr').length;
            if (colorTablerowCount == 0 || sizeTablerowCount == 0) {
                $('#validationMessageForSizeAndColor').css("visibility", "visible");
                event.preventDefault();
            } else {

                $('#validationMessageForSizeAndColor').css("visibility", "hidden");
            }
        });
    })
</script>