﻿@model VendorProductModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Admin.Models.Catalog
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events
@using Nop.Services.Events



@{
    //page title
    ViewBag.Title = string.Format(T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.EditAttributeDetails").Text, Model.ProductAttributeValueListModel.ProductAttributeName, Model.ProductAttributeValueListModel.ProductName);
}


@*Modal product Attribute value*@

<div class="row clearfix">
    @*<div class="col-xs-6 col-md-6 col-lg-6 column">
        <input id="ProductOptionsNeme1" type="text" class="form-control" placeholder="Attribute Name">
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 column">
        <input id="ProductOptionsQuantity1" type="number" class="form-control" name="quantity" placeholder="Product Quantity">
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 column">
        <button type="button" class="pull-right" onclick="ProductColorAttributeValueCreate()">Add</button>
    </div>*@

    <div class="inputs row options-inputs">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-left">
            @Html.DropDownListFor(model => model.ProductModel.AddSpecificationAttributeModel.SpecificationAttributeOptionId, Model.ProductModel.AddSpecificationAttributeModel.AvailableOptions)
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
            <input id="ProductOptionsQuantity1" type="number" placeholder="Qty." />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <input type="button" class="btn-product-add-option pull-right" onclick="ProductaddColorOption()" value="+ Add" />
        </div>
    </div>
</div>

<table class="">
    <tr>
        <td>
            <div id="productcolorattributevalues-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#productcolorattributevalues-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ProductColorAttributeValueList", "BsVendor", new { productAttributeMappingId = Model.ProductAttributeValueListModel.ProductAttributeMappingId }))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("ProductColorAttributeValueDelete", "BsVendor"))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "ColorId",
                                    fields: {
                                        Product2Name: { editable: false, type: "string" },
                                        ProductId2: { editable: false, type: "number" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                             {
                                 field: "ColorName",
                                 title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.Name")",
                                 width: 300
                             },
                            {
                                field: "ColorQuantity",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.Quantity")",
                                width: 200
                            },

                            @*{
                                field: "AssociatedProductName",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.AssociatedProduct")",
                                width: 200
                            }, {
                                field: "PriceAdjustmentStr",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.PriceAdjustment")",
                                width: 150
                            }, {
                                field: "WeightAdjustmentStr",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.WeightAdjustment")",
                                width: 150
                            }, {
                                field: "IsPreSelected",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.IsPreSelected")",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsPreSelected#.gif" />'
                            }, {
                                field: "PictureThumbnailUrl",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.Picture")",
                                template: '<img src="#=PictureThumbnailUrl#" />',
                                width: 200
                            },*@

                                                         @*{
                                field: "DisplayOrder",
                                title: "@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.DisplayOrder")",
                                width: 100
                            },*@
                            @*{
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: "<input type='submit' value='@T("Admin.Common.Edit")' onclick=\"javascript:OpenWindow('@Url.Content("~/MerchantProduct/ProductAttributeValueEditPopup/")#=Id#?btnId=btnRefresh&formId=productattribute-form', 800, 500, true); return false;\" class='k-button' />"
                            },*@ {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                title: "@T("Admin.Common.Delete")",
                                width: 200
                            }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
    <tr>
        <td width="100%"></td>
    </tr>
</table>




<script type="text/javascript">
    $(document).ready(function () {

    });

    function ProductaddColorOption() {
        var ProductAttributeMappingId = '@Model.ProductAttributeValueListModel.ProductAttributeMappingId';
        var ProductId = '@Model.ProductAttributeValueListModel.ProductId';
        var Name = $("#ProductModel_AddSpecificationAttributeModel_SpecificationAttributeOptionId option:selected").text();
        var Quantity = $('#ProductOptionsQuantity1').val();
        if (!Name || !Quantity) {
            alert("Fill the Option  and Quantity. Quantity is only number.");
            return;
        };
        if (Quantity.isNaN) {
            alert("Fill  Quantity is only Number");
            return;
        }
        //var Color = $("#ProductOptionsColor").val();

        //$('#addNewAddress').attr('disabled', true);
        $.ajax({
            cache: false,
            type: "POST",
            url: "@Url.Action("ProductColorAttributeValueCreate", "BsVendor")",
            data: {
                "Name": Name, "Quantity": Quantity, "ProductAttributeMappingId": ProductAttributeMappingId
            },
            success: function (data) {

                // $('#modalCloseBtn').trigger("click");;
                //alert("Save successfully");
                $("#ProductModel_AddSpecificationAttributeModel_SpecificationAttributeOptionId option:selected").text();
                $("#ProductOptionsQuantity1").val("");
                var grid = $("#productattributevalues-grid").data('kendoGrid');
                grid.dataSource.read();

                //return false to don't reload a page

                //$('#shippingAddressDiv').html(data.update_section.html);
                //$('#shipping-address-select').val(data.selectedAddressId)
                //console.log(data.selectedAddressId);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to add Product Options.');
                //$('#addChalanDetails').attr('disabled', false);
            }
        });

    }

</script>