﻿@model VendorProductModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Admin.Models.Catalog
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core;
@{
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";

    //page title
    ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}
<div class="container">
    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "product-form"}))
        {
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 no-padding"></div>

            <div class="col-xs-12 no-padding">
                <div class="merchant-page-title">
                    <h2 class="ptit embo">
                        <span class="icon-gt icon-add-red">&nbsp;</span><b> Edit Product </b>
                    </h2>
                    <a href="/Vendor/ProductCreate" class="submit-button pull-right btn-right-top btn-new-product-add">Add Another Product</a>
                    <a href="/Vendor/ProductList" class="submit-button pull-right btn-right-top">Product list</a>
                </div>
                <div class="page add-product-page ">
                    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_CreateOrUpdate.cshtml", Model)
                    <div class="buttons">
                        <input type="submit" name="save" class="" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>

            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 no-padding"></div>
        }
    </div>
</div>
