﻿@model VendorLoginModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.Security.Honeypot
@using Nop.Web.Framework.UI
@using Nop.Web.Models.Customer;
@using Nop.Core;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    // <link href="~/Plugins/Bs.VendorSystem/content/style/loginpagestyles.css" rel="stylesheet" />
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/style/loginpagestyles.css");
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}

@using (Html.BeginForm())
{

    <div class="row-fluid container-small-height vendor-login">
        <div class="span6">
            <div class="login-intro-box">
                <div class="box-teaser login_header">
                    <div class="clearfix">
                        @*<a href="/"><img alt="logo.png" src="https://sellercenter.jumia.com.ng/templates/default/images/logo.png"></a>*@
                        <a href="/"><img alt="logo.png" src="~/Plugins/Bs.VendorSystem/content/img/sellercenter.png"></a>
                    </div>
                </div>
                <div class="logo-deco"></div>
                <div class="box-teaser login_left">
                    <h2><span>Welcome to Obeezi Nigeriaӳ Seller Center!</span></h2>
                    <p><span>On this platform you will be able to manage your products as well as monitor and fulfill your orders as they arrive!</span></p>
                    <p><a target="&quot;" href="https://play.google.com/store/apps/details?id=com.bs.ecommerce.obeezi.ng&hl=en"><img src="~/Plugins/Bs.VendorSystem/Content/img/marketplace/logpage.png" alt="Login Page Image"></a></p>


                </div>
            </div>
        </div>
        <div class="span4 padding-logo-height">
            <div class="box-highlighted">
                <h1>Login</h1>
                @{
    var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
                }
                <div class="rocket-form">
                    <div class="control-group row-fluid">

                        <div class="control-label" id="email-label">
                            <label class="inner" for="email">Email</label>
                        </div>
                        <div class="controls">
                            @*<input type="text" maxlength="255" class="fullwidth" value="" id="email" name="email">*@
                            @Html.EditorFor(model => model.Email, new { @class = "fullwidth" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="control-group row-fluid">
                        <div class="control-label" id="password-label">
                            <label class="inner" for="password">Password</label>
                        </div>
                        <div class="controls">
                            @*<input type="password" maxlength="128" class="fullwidth" value="" id="password" name="password">*@
                            @Html.EditorFor(model => model.Password, new { @class = "fullwidth" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <div class="control-group row-fluid form-submit-box">
                        <label class="control-label optional" for="submit">Login</label>
                        <div class="controls">
                            <input type="submit" class="ui-btn-primary" value="Login" id="submit" name="submit">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group-item">
                            <div class="control-label" id="pwForgotten-label">&nbsp;</div>
                            <div class="controls">
                                <a class="help-link" href="/user/auth/forgot-password">Forgot Password</a>
                            </div>
                        </div>
                        <div class="form-group-item">
                            <div class="control-label" id="registration-label">&nbsp;</div>
                            <div class="controls">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
