﻿@using Nop.Admin.Models.Orders
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events
@using Nop.Services.Events
@model OrderModel
@{
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";
    //title

}

@{
    //page title
    ViewBag.Title = T("Admin.Orders.EditOrderDetails").Text;
}
<div class="container merchant">

    <div class="row">
        <div class="col-sm-12 pTB-0">
            <div class="merchant-page-title">
                <h2 class="ptit embo">
                    <b>
                        @T("Admin.Orders.EditOrderDetails") - @Model.Id @Html.ActionLink("(" + T("Admin.Orders.BackToList") + ")", "OrderList")
                    </b>
                </h2>
                <div class="controller">
                    <div class="group-btn">
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <a href="@Url.Action("PdfInvoice", new { orderId = Model.Id, area = "Admin" })" class="btns-gray-embo">@T("Admin.Orders.PdfInvoice")</a>
                        }
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <span id="order-delete" class="btns-gray-embo">@T("Admin.Common.Delete")</span>
                        }
                        <input type="submit" id="btnRefreshPage" name="btnRefreshPage" class="btns-gray-embo" style="display: none" />
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#btnRefreshPage').click(function () {
                                    //refresh page
                                    location.reload();
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="tabbable merchant-page-body" id="tabs-917755">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-Info" data-toggle="tab">@T("Admin.Orders.Info")</a>
                    </li>
                    <li>
                        <a id="panel-Billing" data-toggle="tab">@T("Admin.Orders.BillingInfo")</a>
                    </li>
                    <li>
                        <a id="panel-Shipping" data-toggle="tab">@T("Admin.Orders.ShippingInfo")</a>
                    </li>
                    <li>
                        <a id="panel-Product" data-toggle="tab">@T("Admin.Orders.Products")</a>
                    </li>
                    @if (!Model.IsLoggedInAsVendor)
                    {
                        <li>
                            <a id="panel-OrderNote" data-toggle="tab">
                                @T("Admin.Orders.OrderNotes")
                            </a>
                        </li>
                    }
                </ul>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "order-form" }))
                {
                    @Html.ValidationSummary(false)

                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-Info">
                            @TabInfo()
                        </div>
                        <div class="tab-pane" id="panel-BillingInfo">
                            @TabBillingInfo()
                        </div>
                        <div class="tab-pane" id="panel-ShippingInfo">
                            @TabShippingInfo()
                        </div>
                        <div class="tab-pane" id="panel-Products">
                            @TabProducts()
                        </div>
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <div class="tab-pane" id="panel-OrderNotes">
                                @TabOrderNotes()
                            </div>
                        }

                    </div>
                    
                    
                     <script>
                        $(document).ready(function () {
                            $("#order-edit").kendoTabStrip({
                                animation: {
                                    open: {
                                        effects: "fadeIn"
                                    }
                                },
                                select: tabstrip_on_tab_select
                            });
                        });
                    </script>

                    {
                        //custom tabs
                        var eventMessage = new AdminTabStripCreated(this.Html, "order-edit");
                        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
                        foreach (var eventBlock in eventMessage.BlocksToRender)
                        {
                            @eventBlock
                        }
                    }

                    @*save selected tab index*@
                    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
                    
                    
                }

                @*@Html.DeleteConfirmation("order-delete")*@
                @helper TabInfo()
                {
                   // @Html.Partial("_OrderDetails.Info", Model)
                    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_OrderDetails.Info.cshtml", Model)
                }
                @helper TabBillingInfo()
                {
                   // @Html.Partial("_OrderDetails.Billing", Model)
                    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_OrderDetails.Billing.cshtml", Model)
                }
                @helper TabShippingInfo()
                {
                   // @Html.Partial("_OrderDetails.Shipping", Model)
                    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_OrderDetails.Shipping.cshtml", Model)
                }
                @helper TabProducts()
                {
                   // @Html.Partial("_OrderDetails.Products", Model)
                    @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_OrderDetails.Products.cshtml", Model)
                }
                @helper TabOrderNotes()
                {
                    // @Html.Partial("_OrderDetails.Notes", Model)
                     @Html.Partial("~/Plugins/Bs.VendorSystem/Views/BsVendor/_OrderDetails.Notes.cshtml", Model)
                }


            </div>
        </div>

















        @*<div class="col-md-12">
            <div class="panel merchant merchant-edit">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "order-form1" }))
                {

                    <div class="page-title">
                        <h1>
                            @T("Admin.Orders.EditOrderDetails") - @Model.Id @Html.ActionLink("(" + T("Admin.Orders.BackToList") + ")", "List")
                        </h1>
                        <div class="options">
                            @if (!Model.IsLoggedInAsVendor)
                            {
                            <a href="@Url.Action("PdfInvoice", new { orderId = Model.Id, area = "Admin" })" class="k-button">@T("Admin.Orders.PdfInvoice")</a>
                            }
                            @if (!Model.IsLoggedInAsVendor)
                            {
                            <span id="order-delete" class="k-button">@T("Admin.Common.Delete")</span>
                            }
                            <input type="submit" id="btnRefreshPage" name="btnRefreshPage" style="display: none" />
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#btnRefreshPage').click(function () {
                                        //refresh page
                                        location.reload();
                                    });
                                });
                            </script>
                        </div>
                    </div>


                    @Html.ValidationSummary(false)


                    <div id="order-edit" class="order-info-edit">
                        <ul>
                            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                                @T("Admin.Orders.Info")
                            </li>
                            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                                @T("Admin.Orders.BillingInfo")
                            </li>
                            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                                @T("Admin.Orders.ShippingInfo")
                            </li>
                            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                                @T("Admin.Orders.Products")
                            </li>
                            @if (!Model.IsLoggedInAsVendor)
                            {
                            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                                @T("Admin.Orders.OrderNotes")
                            </li>
                            }
                        </ul>
                        <div>
                            @TabInfo()
                        </div>
                        <div>
                            @TabBillingInfo()
                        </div>
                        <div>
                            @TabShippingInfo()
                        </div>
                        <div>
                            @TabProducts()
                        </div>
                        @if (!Model.IsLoggedInAsVendor)
                        {
                        <div>
                            @TabOrderNotes()
                        </div>
                        }
                    </div>
                    <script>
                        $(document).ready(function () {
                            $("#order-edit").kendoTabStrip({
                                animation: {
                                    open: {
                                        effects: "fadeIn"
                                    }
                                },
                                select: tabstrip_on_tab_select
                            });
                        });
                    </script>

                    {
                        //custom tabs
                        var eventMessage = new AdminTabStripCreated(this.Html, "order-edit");
                        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
                        foreach (var eventBlock in eventMessage.BlocksToRender)
                        {
                            @eventBlock
                        }
                    }

                    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

                }


                @Html.DeleteConfirmation("order-delete")
                @helper TabInfo()
{
                @Html.Partial("_OrderDetails.Info", Model)
}
                @helper TabBillingInfo()
{
                @Html.Partial("_OrderDetails.Billing", Model)
}
                @helper TabShippingInfo()
{
                @Html.Partial("_OrderDetails.Shipping", Model)
}
                @helper TabProducts()
{
                @Html.Partial("_OrderDetails.Products", Model)
}
                @helper TabOrderNotes()
{
                @Html.Partial("_OrderDetails.Notes", Model)
}
            </div>

        </div>*@
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#panel-Billing").click(function () {
            $("#panel-BillingInfo").slideToggle("slow");
        });       
    });
</script>
<script>
    $(document).ready(function () {
        $("#panel-Shipping").click(function () {
            $("#panel-ShippingInfo").slideToggle("slow");
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#panel-OrderNote").click(function () {
            $("#panel-OrderNotes").slideToggle("slow");
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#panel-Product").click(function () {
            $("#panel-Products").slideToggle("slow");
        });
    });
</script>