﻿@model VendorModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/vendorpage.css");
    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var vendorUrl = Url.RouteUrl("Vendor", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(vendorUrl);
    }
}
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Plugin.Bs.VendorSystem.Extension
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Plugin.Bs.VendorSystem.Models;

<div class="page vendor-page">
    <div class="page-title">
        <h1>@Model.Name</h1>

        <div class="additionalInfo">
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#ProductCount">
                            @Model.ProductCount
                            <h1>Product</h1>
                        </a>
                    </li>
                    <li>
                        <a href="#ProductLike">
                            @Model.ProductLikeCount
                            <h1>Product Like</h1>
                        </a>

                    </li>
                    <li>
                        <a href="#VendorFollowCount">
                            @Model.VendorFollowCount
                            <h1>Follower</h1>
                        </a>
                    </li>
                </ul>
                <div id="ProductCount">

                </div>
                <div id="ProductLike">

                    @Html.Action("LikeListForVendor", "BsVendor")
                </div>
                <div id="VendorFollowCount">
                    @Html.Action("FollowerListForVendor", "BsVendor")
                </div>
            </div>
        </div>



        <script>
            $(function () {
                $("#tabs").tabs();
            });
        </script>
        <script>
            $(document).ready(function () {
                $("ul#tabs li").click(function (e) {
                    if (!$(this).hasClass("active")) {
                        var tabNum = $(this).index();
                        var nthChild = tabNum + 1;
                        $("ul#tabs li.active").removeClass("active");
                        $(this).addClass("active");
                        $("ul#tab li.active").removeClass("active");
                        $("ul#tab li:nth-child(" + nthChild + ")").addClass("active");
                    }
                });
            });
        </script>











    </div>
    <div class="page-body">
        @Html.Widget("vendordetails_top", Model.Id)
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="vendor-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @*contact vendor*@
        @if (Model.AllowCustomersToContactVendors)
        {
            <div class="contact-vendor">
                <input type="button" value="@T("ContactVendor")" class="button-2 contact-vendor-button" onclick="setLocation('@Url.RouteUrl("ContactVendor", new { vendorId = Model.Id })')" />
            </div>
        }
        @*@if (Model.Products.Count > 0)
            {
                @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
            }*@
            @*product list*@
            @if (Model.Products.Count > 0)
            {
                <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                    <div class="item-grid">
                        @foreach (var product in Model.Products)
                        {
                            <div class="item-box">
                                @Html.Partial("_ProductBox", product)
                            </div>
                        }
                    </div>
                </div>
            }
            @{

                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            }
            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
            @Html.Widget("vendordetails_bottom", Model.Id)
        </div>
    </div>
