
.master-column-wrapper{
        padding-top: 0;
}

.container-small-height {
    margin-bottom: 5%;
    padding-left: 2.94118%;
    padding-right: 2.94118%;
    box-sizing: border-box;
}
.login-intro-box {
    padding-right: 2.94118%;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
a {
    color: #4e71c0;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;

}
.row-fluid .span6 {
    width: 58.9744%;
	
}
.row-fluid .span4 {
    width: 38.4615%;
}
.row-fluid [class*="span"] {
	float: left;
	box-sizing: border-box;
	min-height: 28px;
}
.logo-deco {
    height: 3px;
    background-repeat: repeat-x;
    margin: 14px 0 8px 0;
	background-image: url('https://sellercenter.jumia.com.ng/templates/default/images/iconset-s59f02b1f83.png');
}
.iconset-logo_deco_line, .logo-deco {
    background-position: 0 -1094px;
}
h1, .block-centered-elements--headline, h2, h3, .mainHeadline {
    font-size: 20px;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: normal;
}
p {
    padding: 0;
    margin: 0 0 10px 0;
}
.padding-logo-height {
    padding-top: 48px;
}
.box-highlighted {
    background-color: #f2f2f2;
    padding: 30px 30px 10px 30px;
}
.control-group:first-child .control-label {
    padding-top: 6px;
	
}
.control-label {
    width: 27.94118% !important;
    text-align: left;
	display: inline-block;
}
.control-label .inner {
    display: inline-block;
}
.control-group {
    margin-bottom: 10px;
}
 input.fullwidth, select.fullwidth, textarea.fullwidth {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 29px;
    width: 100%;
}
.controls input[type="text"]{
    padding: 4px 6px;
    font-size: 15px;
    line-height: 18px;
    border-radius: 2px;
	background-color: #fff;
    border: 1px solid #ccc;
    height: 0 !important;
    min-height: 25px !important;
}
.control-group:first-child .controls {
    padding-top: 1px;
	    
}
.form-submit-box {
    padding-top: 0;
    padding-bottom: 10px;
}
.ui-btn-primary {
    padding: 9px 20px;
	color: #fff;
    background-color: #4e71c0;
	border: 1px solid #ccc;
	border-radius: 2px;
	
}
.form-group-item {
    overflow: hidden;
    clear: both;
    width: 100%;
}
.form-login .help-link {
    display: block;
}
.help-link {
    font-size: 13px;
    text-decoration: underline;
}
.controls {
    width: 69.11765%;
	display: inline-block;
}
.controls input[type="submit"]{
	width: auto;
}
.controls input[type="password"]{
	color: #333; 
	background-color: #fff;
    border: 1px solid #ccc;
	border-radius: 2px;
	padding: 4px 6px;
    height: 0 !important;
    min-height: 25px !important;
}
input, button, select, textarea {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif,"Zawgyi-One";
}
.btn-primary, .ui-btn-primary-blocked, .ui-btn-primary, .js-resync-seller-shop {
    background-color: #4e71c0;
    background-image: linear-gradient(to bottom, #4e71c0, #4e71c0);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 15px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px !important;
	
}
.form-submit-box .control-label {
    text-align: left;
    text-indent: -9999px;
}
.control-label{
    font-weight: bold;
}




/*Added by JASIM*/

.control-group.row-fluid {
}

.control-group:first-child .control-label {
    vertical-align: top;
}

.vendor-login .control-group .controls {
    position: relative;
    padding-right: 15px;
    vertical-align: top;
}

    .vendor-login .control-group .controls input[type="text"],
    .vendor-login .control-group .controls input[type="password"] {
        width: 100%;
            min-height: 34px !important;
    }

   .vendor-login .control-group .controls .required {
        position: absolute;
        right: 0;
        top: 5px;
    }