﻿.main-container {
    min-height: 400px;
    padding: 20px 0 50px;
}

.main.container {
    max-width: 100%;
}

.main {
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col-main {
    padding-bottom: 30px;
}

.wk_mp_banner_container {
    width: 97.5%;
    padding: 10px;
    border: 1px solid #eee;
}

.wk_mp_banner {
    background-size: 100% 100%;
}

.wk_mp_banner {
    background-image: url('/Plugins/Bs.VendorSystem/Content/img/marketplace/banner.jpg');
}

.wk_mp_header {
    color: #FFF;
    padding: 6.5%;
    text-align: center;
}

    .wk_mp_header h1 {
        color: #FFF;
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 0.3em;
        word-wrap: break-word;
    }

    .wk_mp_header h2 {
        color: #FFF;
        font-size: 32px;
        text-transform: inherit !important;
    }

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-after: 0.83em;
    -webkit-margin-before: 0.83em;
}

.wk_mp_header p {
    margin-bottom: 0;
}

p {
    display: block;
    -webkit-margin-end: 0px;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-before: 1em;
}

.buttons-set {
    clear: both;
    margin: 1em 0 0;
    padding: 8px 0 0;
    text-align: right;
}

button.button {
    margin: 0;
    border: 0;
    padding: 0;
    width: auto;
    cursor: pointer;
    overflow: visible;
    border-radius: 5px;
    background: transparent;
    background: transparent none repeat scroll 0 0;
}

    button.button span {
        border: 0;
        color: #fff;
        display: block;
        padding: 0 15px;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        border-radius: 5px;
        font-weight: normal;
        white-space: nowrap;
        background: #FEAE15;
    }

.buttons-set a {
    line-height: 35px;
}

.wk_mp_landing_button {
    font-size: 18px !important;
    padding: 15px 20px !important;
}

.wk_marketplace_label {
    font-weight: 600;
    padding-top: 3.3%;
    letter-spacing: 1px;
}

h1 {
    color: #777;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.35;
    margin-bottom: 20px;
}

.wk_mp_landingpage {
    text-align: center;
}

.wk_mp_icon_wraper {
    width: 22%;
    display: inline-block;
}

.wk_mp_icon {
    width: 68%;
    display: inline-block;
}

    .wk_mp_icon img {
        width: 100%;
        display: inline-block;
    }

.wk_marketplace_label_span {
    width: 100%;
    color: #ee2d43;
    font-size: 1.3em;
    display: inline-block;
    text-transform: uppercase;
}

.wk_mp_landing_about {
    background-color: #f4f4f4;
}





.container section {
    clear: both;
    width: 100%;
    float: left;
    min-height: 100%;
    overflow: visible;
}

.contentArea {
    background: #fff;
}

.how {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.375rem;
    box-sizing: border-box;
    padding-bottom: 3.125rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .how:before, .how:after {
        content: " ";
        display: table;
    }

    .how:after {
        clear: both;
    }

.contentArea h2 {
    color: #152538;
    font-weight: 500;
    text-align: center;
    font-size: 3.125rem;
    padding-bottom: 20px;
    margin-bottom: 3.4375rem;
    text-transform: uppercase;
    background: url("/Plugins/Bs.VendorSystem/Content/img/marketplace/title_underline.png") center bottom no-repeat;
}

.how .steps {
    float: left;
    width: 50%;
    font-size: 0.9375rem;
    box-sizing: border-box;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.how ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    list-style: none;
    font-family: inherit;
}

.how .steps li {
    cursor: pointer;
}

.how li {
    padding: 1.25rem;
    border-radius: 4px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.how .num {
    float: left;
    width: 3.75rem;
    display: block;
    color: #6D7E87;
    padding: 0.625rem;
    font-weight: bold;
    text-align: center;
    font-size: 2.8125rem;
    margin-right: 1.25rem;
    border: 1px solid #E5E5E5;
}

.how .steps h4 {
    margin-top: 0;
    padding-top: 0;
    color: #1E8AD2;
    font-weight: 500;
    font-size: 1.25rem;
}

.how .steps p {
    margin-bottom: 0.3125rem;
}

.how .laptop {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .how .laptop img {
        width: 100%;
    }

.why {
    width: 100%;
    float: left;
    padding-top: 4.375rem;
    background-size: cover;
    padding-bottom: 3.125rem;
    background: url(/Plugins/Bs.VendorSystem/Content/img/marketplace/abstractBg.png) center center no-repeat;
}

    .why .row {
        width: 100%;
        margin: 0 auto;
        max-width: 75rem;
        box-sizing: border-box;
    }

        .why .row:before, .why .row:after {
            content: " ";
            display: table;
        }

        .why .row:after {
            clear: both;
        }

        .why .row:before, .why .row:after {
            content: " ";
            display: table;
        }

    .why .card {
        float: left;
        padding: 15px;
        text-align: center;
        width: 33.3333333333%;
        box-sizing: border-box;
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }

        .why .card .yellow {
            background: #FDAB24;
        }

        .why .card .card-content {
            padding: 2.1875rem;
            transition: all 0.3s ease-out;
            height: 380px;
            box-sizing: border-box;
        }

            .why .card .card-content h3 {
                padding: 0;
                opacity: 0.89;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 1.375rem;
                line-height: 1.5rem;
                color: rgba(0,0,0,0.5);
            }

            .why .card .card-content p {
                color: #fff;
                font-weight: 400;
                font-size: 0.8125rem;
                line-height: 1.25rem;
                height: 60px;
                overflow: hidden;
            }

        .why .card .blue {
            background: #1E8AD2;
        }

        .why .card .green {
            background: #78A200;
        }

        .why .card .dark {
            background: #152437;
        }

        .why .card .orange {
            background: #FD7722;
        }

        .why .card .purple {
            background: #8056B6;
        }



      

.today {
    width: 100%;
    float: left;
    padding-top: 100px;
    padding-bottom: 100px;
}

    .today h3 {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 2.625rem;
        line-height: 2.625rem;
    }

    .today p {
        color: #888888;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        font-family: inherit;
        margin-bottom: 0.3125rem;
        text-rendering: optimizeLegibility;
    }

    .today a {
        text-decoration: none;
    }

.action_btn {
    margin: auto;
    width: 300px;
    padding: 10px;
    color: #734F10;
    display: block;
    margin-top: 30px;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 2px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    background: #FCAB24;
    border: 1px solid #C7881C;
}

.text-center {
    text-align: center !important;
}


.master-wrapper-modify {
    margin-top: 0 !important;
}

.master-column-modify {
    padding-top: 0;
    width: 100% !important;
}

    .master-column-modify .main-container {
        padding: 0 0 0 0 !important;
    }

        .master-column-modify .main-container .wk_mp_banner_container {
            width: 100% !important;
        }


/*---------------------------------------------------
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE
---------------------------------------------------*/
@media screen and (max-width:768px) and (min-width:481px) {
    .wk_mp_header h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .wk_mp_header h2 {
        font-size: 20px;
    }

    .wk_mp_landing_button {
        width: 100% !important;
        font-size: 18px !important;
        padding: 15px 0px !important;
    }

    button.button span {
        padding: 0 0px;
        font-size: 14px;
        line-height: 38px;
    }

        button.button span span {
            width: 100%;
            padding: 0 10px;
        }

    .contentArea h2 {
        margin: 0 auto;
        font-size: 30px;
    }

    .how {
        padding: 20px 0px;
    }

        .how .steps {
            padding: 0;
            float: none;
            width: 100%;
            display: block;
            overflow: hidden;
            margin-bottom: 20px;
        }

            .how .steps li {
                padding: 0 0;
                margin-bottom: 20px;
            }

        .how .num {
            width: 40px;
            font-size: 25px;
            padding: 3px 3px;
            margin-right: 10px;
        }

        .how .steps li > div h4 {
            line-height: 40px;
        }

        .how .laptop {
            float: none;
            width: 100%;
            display: block;
            overflow: hidden;
            padding: 0 0 0 0;
        }

            .how .laptop img {
                width: 100%;
                height: auto;
            }

    .why {
        padding: 20px 0px;
    }

        .why .card {
            float: none;
            width: 100%;
            padding: 0 0;
            margin-bottom: 20px;
        }

            .why .card .card-content {
                padding: 15px;
            }

    .today {
        width: 100%;
        float: none;
        display: block;
        overflow: hidden;
        padding: 20px 0px;
    }

        .today h3 {
            font-size: 25px;
            line-height: 25px;
        }

    .action_btn {
        max-width: 100%;
    }


    .testimonials .testimony {
        width: 100%;
        height: 31.25rem;
    }
}
/*---------------------------------------------------
    SMALLER MOBILE DEVICES
---------------------------------------------------*/
@media screen and (max-width:480px) {
    .wk_mp_header h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .wk_mp_header h2 {
        font-size: 20px;
    }

    .wk_mp_landing_button {
        width: 100% !important;
        font-size: 18px !important;
        padding: 15px 0px !important;
    }

    button.button span {
        padding: 0 0px;
        font-size: 14px;
        line-height: 38px;
    }

        button.button span span {
            width: 100%;
            padding: 0 10px;
        }

    .contentArea h2 {
        margin: 0 auto;
        font-size: 30px;
    }

    .how {
        padding: 20px 0px;
    }

        .how .steps {
            padding: 0;
            float: none;
            width: 100%;
            display: block;
            overflow: hidden;
            margin-bottom: 20px;
        }

            .how .steps li {
                padding: 0 0;
                margin-bottom: 20px;
            }

        .how .num {
            width: 40px;
            font-size: 25px;
            padding: 3px 3px;
            margin-right: 10px;
        }

        .how .steps li > div h4 {
            line-height: 40px;
        }

        .how .laptop {
            float: none;
            width: 100%;
            display: block;
            overflow: hidden;
            padding: 0 0 0 0;
        }

            .how .laptop img {
                width: 100%;
                height: auto;
            }

    .why {
        padding: 20px 0px;
    }

        .why .card {
            float: none;
            width: 100%;
            padding: 0 0;
            margin-bottom: 20px;
        }

            .why .card .card-content {
                padding: 15px;
            }

    .today {
        width: 100%;
        float: none;
        display: block;
        overflow: hidden;
        padding: 20px 0px;
    }

        .today h3 {
            font-size: 25px;
            line-height: 25px;
        }

    .action_btn {
        max-width: 100%;
    }


    .testimonials .testimony {
        width: 100%;
        height: 31.25rem;
    }

}

.testimonials {
    margin-top: 4.375rem;
    float: left;
    width: 100%;
}
.testimonials .testimony {
    width: 100%;
    height: 31.25rem;
    overflow: hidden;
    background: #1E8AD2;
}
.testimonials .testimony li {
    display: table;
    width: 100%;
    height: 31.25rem;
    display: none;
}
.testimonials .testimony li .quote {
    font-size: 2.8125rem;
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    background: #1E8AD2;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-align: center;
}
.testimonials .testimony li .quote p {
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 50px;
    font-weight: 200;
    vertical-align: middle;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.testimonials .testimony li .quote h4{
    line-height: 1.4;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    font-weight: 400;
    font-family: "Montserrat",Helvetica,"Helvetica Neue",Arial,sans-serif;
    text-rendering: optimizeLegibility;
}
.testimonials .testimony li.active {
    display: table !important;
}
.testimonials .testimony li .quote .storename {
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.testimonials .testimony li .quote .video_btn {
    background: #1E8AD2;
    border: 2px solid #56A7DD;
    border-radius: 100px;
    font-size: 0.875rem;
    color: #FFFFFF;
    line-height: 1.25rem;
    padding: 10px 30px;
    cursor: pointer;
    width: 5rem;
}
.testimonials .testimony li .media {
    width: 50%;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    background: #000 center center;
    background-size: cover;
    text-align: center;
}
.testimonials .testimony li .play_btn {
    cursor: pointer;
}
.testimony .active {
    animation-name: scaleBg;
    animation-duration: 0.5s;
    animation-timing-function: ease-In;
    animation-iteration-count: 1;
} 
.testimonials .logo-scroll {
    width: 100%;
    background: #FAFAFA;
    border-bottom: 1px solid #EBEDED;
    padding: 1.875rem;
    display: table;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.testimonials .logo-scroll li {
    list-style: none;
    display: table-cell;
    width: 20%;
    text-align: center;
    opacity: 0.2;
    padding-bottom: 1.25rem;
    padding-top: 0.625rem;
    transition: 0.2s;
    background: center bottom no-repeat;
    cursor: pointer;
}
.testimonials .logo-scroll li.active, .testimonials .logo-scroll li:hover {
    opacity: 1;
    background: center bottom url("/Plugins/Bs.VendorSystem/Content/img/marketplace/logohi.png") no-repeat;
} 
