﻿/*Vendorpage css*/
.vendor-page .additionalInfo {
    background-color: #f2f2f2 !important;
    min-height: 65px;
    overflow: auto;
    width: 100%;
}
.additionalContentBox {
    font-size: 40px;
    border: 2px solid #4cb17c;
    width: 60px;
    margin: 10px 10px 10px 60px;
}
.additionalContentBox:hover{
    background: #e6ffff;
}
.likeDiv {
    width: 20%;
    border: 2px solid #4cb17c;
    float: left;
    margin-left: 10px;
}
.likeDiv h1 {
        font-size: 20px;
    }
