﻿@{
    // Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/Style/Follow.css");

    Html.AddScriptParts("~/Plugins/Bs.VendorSystem/Script/public.vendor-follow.js");
    //var isGuestCustomer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var urlFollow = Url.RouteUrl("Vendor.CustomerVendorFollow", new { vendorId = Model.VendorId });
    var urlUnFollow = Url.RouteUrl("Vendor.CustomerVendorUnFollow", new { vendorId = Model.VendorId });
}
@model BsFollowProductBoxModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

<div class="follow-block-window" style="display: none">
</div>
<div class="un-follow-block-window" style="display: none">
</div>
@if (Model.IsGuestCustomer)
{
    <a style="@(!(Model.IsFollowedByCurrentCustomer) ? "display:block" : "display:none")" title="@T("Widgets.Follow.GuestTitle")" class="item-follow-counter_@(Model.VendorId) follow-btn item-follow-counter disabled" onclick="VendorFollow.guestfollow()">@Model.FollowCout</a>
    <a style="@(!(Model.IsFollowedByCurrentCustomer) ? "display:none" : "display:block")" title="@T("Widgets.Follow.GuestTitle")" class="item-follow-counter_@(Model.VendorId) unfollow-btn item-follow-counter disabled" onclick="VendorFollow.guestfollow()">@Model.FollowCout</a>

}
else
{
    <a style="@(!(Model.IsFollowedByCurrentCustomer) ? "display:block" : "display:none")" title="@T("Widgets.Follow.FollowTitle")" class="item-follow-counter_@(Model.VendorId) follow-btn item-follow-counter" onclick="VendorFollow.follow('@urlFollow','.item-follow-counter_@(Model.VendorId)');return false; ">@Model.FollowCout</a>
    <a style="@(!(Model.IsFollowedByCurrentCustomer) ? "display:none" : "display:block")" title="@T("Widgets.Follow.UnFollowTitle")" class="item-follow-counter_@(Model.VendorId) unfollow-btn item-follow-counter" onclick="VendorFollow.unfollow('@urlUnFollow','.item-follow-counter_@(Model.VendorId)');return false; ">@Model.FollowCout</a>

}
