@model BsVendorFollowListModelForCustomer
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="page wishlist-page">
    <div class="page-title">
        <h1>
            @*@T("Wishlist")*@
           @T("Vendor.List")
        </h1>
    </div>
    <div class="page-body">
        @if (Model.FollowList.Count > 0)
        {
            <div class="wishlist-content">
                @using (Html.BeginRouteForm("Vendor.FollowListForCustomer", FormMethod.Post))
                {
                    <div class="table-wrapper">
                        <table class="cart">
                            <colgroup>
                                <col width="1" />
                                <col width="1" />
                                <col />
                                <col width="1" />
                            </colgroup>
                            <thead>
                                <tr>

                                    <th class="remove-from-cart">
                                        @T("ShoppingCart.Remove")
                                    
                                    </th>

                                    <th class="product-picture">
                                        @T("VendorName")
                                    </th>

                                    <th class="product">
                                        @T("Vendor Email")
                                    </th>

                                    <th class="product-picture">
                                        @T("Follower Customer Name")
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FollowList)
                                {
                                    <tr>
                                       
                                            <td class="remove-from-cart">
                                                <label class="td-title">@T("ShoppingCart.Remove"):</label>
                                                <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                                            </td>
       
                                        
                                            <td class="product-picture">
                                                <p class="vendor-name">@item.Name</p>
                                            </td>

                                        <td class="product">
                                            <p class="vendor-name">@item.Email</p>
                                        </td>

                                        <td class="product-picture">
                                            <p class="vendor-name">@item.CustomerName</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    var pager = Html.Pager(Model.PagerModel);
                    if (!MvcHtmlString.IsNullOrEmpty(pager))
                    {
                        <div class="pager">
                            @pager
                        </div>
                    }
                    <div class="buttons">
                            <input type="submit" name="updatecart" value="@T("Vendor.DeleteSelected")" class="button-2 update-wishlist-button" />
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Vendor.ListEmpty")
            </div>
        }
    </div>
</div>