@model BsVendorFollowListModelForCustomer
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;
@{
    Layout = "";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="page wishlist-page">
    <div class="page-body">
        @if (Model.FollowList.Count > 0)
        {
            <div class="wishlist-content">
                @using (Html.BeginRouteForm("Vendor.FollowListForCustomer", FormMethod.Post))
                {
                    <div class="table-wrapper">
                        <table class="cart">
                            <colgroup>
                                <col width="1" />
                                <col width="1" />
                                <col />
                                <col width="1" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="product-picture">
                                        @T("VendorName")
                                    </th>
                                    <th class="product-picture">
                                        @T("Follower Customer Name")
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FollowList)
                                {
                                    <tr>
                                        <td class="product-picture">
                                            <a href="@Url.RouteUrl("Vendor", new {SeName = item.VendorSeName})">@item.Name</a>
                                            <p class="vendor-name">@item.Name</p>
                                        </td>

                                        <td class="product-picture">
                                            <p class="vendor-name">@item.CustomerName</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    var pager = Html.Pager(Model.PagerModel);
                    if (!MvcHtmlString.IsNullOrEmpty(pager))
                    {
                        <div class="pager">
                            @pager
                        </div>
                    }
                 
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Vendor.ListEmpty")
            </div>
        }
    </div>
</div>