﻿
@{
   
    var FollowList = Url.RouteUrl("Vendor.FollowListForCustomer");
    //var urlUnLike = Url.RouteUrl("Widgets.Like.CustomerProductUnLike", new { productId = Model.ProductId });
}
@model BsFollowHeaderModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@if (!(Model.IsGuest))
{
    <li>
        <a href="@FollowList" class="ico-wishlist">
            @*<span class="wishlist-label">@T("Vendor.Liked")</span>*@
            <span class="follow-qty">@T("Follow", Model.Count)</span>
        </a>
    </li>

}

